<html>
<head>
    <title>this is a todolist</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"  />
</head>
<body>
   <div class="container">
       <ul>
           <% todos.forEach(function (item) { %>
              <li> <%=item.item %></li>
           <%})%>
       </ul>
   </div>
</body>
</html>